* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.head-conteiner {
  border:1px black solid;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-conteiner1 {
  border: 1px black solid;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-conteiner2 {
  display: flex;
  border: 1px black solid;
  height: 70vh;
}

.info-conteiner {
  border: 1px black solid;
  height: 100%;
  width: 40%;

}

.weather-conteiner {
  border: 1px black solid;
  height: 50%;
  width: 100%;
}

.locations-conteiner {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  height: 50%;
  width: 100%;
}

.location-conteiner{
  display: flex;
  border: 1px black solid;
  height:25%;
  width: 100%;
}

.location-conteiner h3 {
  margin-inline-start: 3rem;
}

.map-conteiner {
  border: 1px black solid;
  height: 100%;
  width: 60%;
}

#map {
  height: 100%;
  width: 100%;
}


