* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.head-container {
  border:1px black solid;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container1 {
  border: 1px black solid;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container2 {
  display: flex;
  border: 1px black solid;
  height: 70vh;
}

.info-container {
  border: 1px black solid;
  height: 100%;
  width: 40%;

}

.weather-container {
  border: 1px black solid;
  height: 50%;
  width: 100%;
}

.locations-container {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  height: 50%;
  width: 100%;
}

.location-container {
  display: flex;
  align-items: center;
  border: 1px black solid;
  height: 25%;
  width: 100%;
}




.map-container {
  border: 1px black solid;
  height: 100%;
  width: 60%;
}

#map {
  height: 100%;
  width: 100%;
}


